
    <footer class="bg-gray-800 text-white py-6 ">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <p class="text-lg font-semibold">© 2023 Votre Nom / Votre Entreprise</p>
                <p class="mt-2 text-sm">123 Rue de la Rue, Ville, Pays</p>
                <p class="mt-2 text-sm">Téléphone : +123 456 789</p>
                <p class="mt-2 text-sm">Email : contact@example.com</p>
            </div>
            <div>
                <a href={{path('app_home')}} class="text-indigo-400 hover:text-indigo-600 mx-2">Accueil</a>
                <a href={{path('app_users')}} class="text-indigo-400 hover:text-indigo-600 mx-2">Users</a>
                <a href={{path('app_about')}} class="text-indigo-400 hover:text-indigo-600 mx-2">About</a>
                <a href={{path('app_contact')}} class="text-indigo-400 hover:text-indigo-600 mx-2">Contact</a>
            </div>
        </div>
    </footer>

