{% extends 'base.html.twig' %}
{% block title 'about' %}
{% block  body %}

 
<section class="bg-gray-100 h-screen">
    <!-- Barre de navigation -->
    <nav class="bg-indigo-500 p-4 text-white">
        <div class="container mx-auto">
            <h1 class="text-2xl font-semibold">Mon Site Web</h1>
        </div>
    </nav>

    <!-- Contenu de la page À propos -->
    <div class="container mx-auto py-8">
        <h2 class="text-2xl font-semibold mb-4">À Propos de Nous</h2>
        <p class="text-gray-700 leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet justo eget augue placerat laoreet. Quisque id velit id enim auctor pharetra. Integer et justo quis risus scelerisque volutpat nec ac tortor. Fusce dictum vel dolor non eleifend. Vestibulum interdum sapien et tellus efficitur feugiat. Nulla facilisi. Sed varius vel libero vel hendrerit.
        </p>
    </div>
</section>
 





{% endblock %}  